{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5 d-flex align-items-center" style="min-height: 50vh">
        <form method="post" action="{{ path('app_login') }}" class="col-lg-6 col-md-8 col-12 mx-auto">
            {% if error %}
                <div class="alert alert-danger">Identifiants Invalides</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.nom }} {{ app.user.prenom }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 text-center text-white font-weight-normal">Connectez-vous</h1>
            <div class="mb-3">
                <label for="username" class="text-white">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="text-white">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            {# <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            > #}

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-dark" style="float: right" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
