{% extends "base.html.twig" %}

{% block title %}
    Boots Arts fiche produit
{% endblock %}



{% block body %}

<style>

.labl {
    display : block;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border: 1px solid grey;
    border-radius: 4px;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: rgb(197, 197, 197);
    outline: 3px solid rgb(32, 140, 228);
    border-radius: 4px;
    box-shadow: rgb(32, 140, 228) 0px 2px 8px 0px;
}

.text-blue{
    color: rgb(104, 140, 245);
}

</style>

<div class="container my-5">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body d-flex">
                    <a href="" class="mx-auto text-center" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid w-75 mx-auto" src="{{ asset('uploads/photos/' ~ produit.photo) }}" >
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="price">Fiche produit</p>
                    <form method="get" action="{{ path('ajout_panier') }}">
                        <div class="form-group d-flex flex-wrap flex-row justify-content-evenly">
                            {% set defaultcheck = true %}
                            {% for format in produit.format %}
                                <div class="col-4 p-2">
                                    <label class="labl col-12">
                                        <input type="radio" name="format" value="{{format.id}}" {% if defaultcheck == true %} checked="checked" {% endif %}/>
                                        <div class="text-center">
                                            <p> Taille : {{format.format}} </p>
                                            <p> {{format.hauteur}}cm x {{format.largeur}}cm </p>
                                            <p class="text-blue fs-5"> Prix : {{format.prix}} € </p>
                                        </div>
                                    </label>
                                </div>
                            {% set defaultcheck = false %}
                            {% endfor %}                        
                        </div>
                        <div class="form-group">
                            <label>Quantité :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number me-1"  data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="10" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number ms-1" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id_produit" value="{{produit.id}}">
                        <div class="text-center ">
                            <button type="submit" class="btn btn-success btn-lg text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Ajouter au panier
                            </button>
                        </div>
                    </form>
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br/>Livraison rapide</li>
                            <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>paiement sécurisé</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}