{% extends "base.html.twig" %}

{% block title %}
    Panier Boots Arts
{% endblock %}

{% block body %}
<div class="bodypanier">
    <div class="container py-4">
        {% if panier is not empty %}
        
            {% set total = 0 %}
            {% set total_article = 0 %}
            {% for key, produit in panier %}
                <div class="bg-light p-2 d-flex flex-wrap my-2">
                    <div class="col-lg-2 col-md-3 col-12 text-center">
                        <img src="{{ asset('uploads/photos/' ~ produit.produit.photo) }}" class="col-8 col-md-12 mx-auto" alt="test">
                    </div>
                    <div class="col-lg-8 col-md-7 col-6 d-flex align-items-center">
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">{{ produit.produit.titre }}</p>
                            <p><strong>Taille : </strong> {{produit.format.format}} ( {{produit.format.hauteur}}cm x {{produit.format.largeur}}cm ) </p>
                            <p><strong>Quantité :</strong> {{produit.quantite}}</p>
                            <a href="{{ path('remove', {'id' : key }) }}" class="btn btn-dark mt-2">Supprimer</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-6 d-flex align-items-center justify-content-end">
                        <p class="fw-bold fs-4">Prix unitaire : {{produit.format.prix}} €</p>
                    </div>
                </div>  
            {% set total = total + (produit.format.prix * produit.quantite) %}
            {% set total_article = total_article + produit.quantite %} 
            {% endfor %}
            <div class="bg-light p-2 my-2">
                <p class="fw-bold fs-4 text-end">Total ( {{total_article}} article{% if total_article > 1 %}s{% endif %} ) : {{total}}  € </p>
            </div>
        {% else %}
            <div class="mt-5">
                <h3 class="text-white text-center">Votre panier est vide</h3>
                <div class="text-center">
                    <a href="{{ path('produits') }}" class="text-white mt-2">Lien vers la boutique</a>
                </div>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
