{% extends "base.html.twig" %}

{% block title %}
    Page Profil
{% endblock %}

{% block body %}

    <h1 class="text-center my-5 titreprofil">Votre page profil : {{ app.user.prenom }} {{ app.user.nom }}</h1>

{# {% if user.roles.0 == 'ROLE_ADMIN' %}
    <p class="text-center text-secondary">Vous êtes ADMINISTRATEUR du site</p>
{% endif %} #}

<div class="container mb-5">
    <div class="card mx-auto col-lg-6 col-md-8 shadow p-3 mb-5 bg-body rounded">

        <div class="d-flex">
            <img src="https://pbs.twimg.com/profile_images/1402894430173110274/5zrO8sS5_400x400.jpg" class="rounded-circle mx-auto my-3 img_profil">
        </div>

        <table class="table text-center mb-0">
            <tr class="responsive_profil"><td class="fontTD"><strong>Email :</strong></td><td>{{ app.user.email }}</td></tr>
            <tr class="responsive_profil"><td class="fontTD"><strong>Prenom :</strong></td><td>{{ app.user.prenom }}</td></tr>
            <tr class="responsive_profil"><td class="fontTD"><strong>Nom :</strong></td><td>{{ app.user.nom }}</td></tr>
            <tr class="responsive_profil"><td class="fontTD"><strong>Adresse :</strong></td><td>{{ app.user.adresse }}</td></tr>
            <tr class="responsive_profil"><td class="fontTD"><strong>Ville :</strong></td><td>{{ app.user.ville }}</td></tr>
            <tr class="responsive_profil"><td class="fontTD"><strong>Code postal :</strong></td><td>{{ app.user.codePostal }}</td></tr>
            <tr class="responsive_profil"><button class="btn btn-secondary"><a href="#" class="text-white">Modifier</a></button></tr>
        </table>
    </div>
</div>

{% endblock %}