{% extends "base.html.twig" %}

{% block body %}

    <div class="rounded bg-light col-lg-7 col-md-9 col-12 mx-auto p-3 my-5">
        <h2 class="text-center my-3">Modification du profil</h2>

        {{ form_start(userForm, {'attr': {"class": "col-7 mx-auto"}}) }}

            <div class="col-12" id="add_photo_profil">
                {{ form_row(userForm.imageProfil) }}   
            </div>
            <div class="d-flex flex-wrap">
                <div class="col-md-6 col-10 mx-auto my-3 text-center p-2 " id="block-profil-preview">
                    <h4 class="text-center"> Prévisualisation :</h4>
                    <img id="profil-preview" class="col-lg-6 col-md-8 col-10 rounded-circle">
                </div>

                {% if photoBdd is not empty %}
                    <div class="p-2 text-center col-md-6 col-10 mx-auto my-3">
                        <h4>Photo Actuelle :</h4>
                        <img src="{{ asset('uploads/photos/' ~ photoBdd) }}"  class="col-lg-6 col-md-8 col-10 rounded-circle" alt="{{ photoBdd }}">
                    </div>
                {% endif %}
            </div>

            {{ form_row(userForm.pseudo) }}

            {{ form_row(userForm.email) }}

            {{ form_row(userForm.prenom) }}

            {{ form_row(userForm.nom) }}

            {{ form_row(userForm.adresse) }}

            {{ form_row(userForm.ville) }}

            {{ form_row(userForm.codePostal) }}

            <button type="submit" class="btn btn-dark">Continuer</button>
        {{ form_end(userForm) }}
    </div>


{% endblock %}