{% extends "base_backoffice.html.twig" %}

{% block body %}

    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="col-6 mx-auto text-center alert alert-{{ label }} my-5">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h2 class="text-center my-3">Liste des produits</h2>
    <div  style="overflow-x : scroll;">
        <table class="table table-borders text-center align-middle" id="table-backoffice-produit">
            <thead>
                <tr>
                    {% for data in colonnes %}
                        {% if (data != 'id') and (data != 'password') %}
                            <th>{{data}}</th>                    
                        {% endif %}

                    {% endfor %}
                    <th>Auteur</th>
                    <th>Categorie</th>
                    <th>Format</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td class="col-3"><img src="{{ asset('uploads/photos/' ~ produit.photo) }}"  class="w-75" alt=""></td>
                        <td>{{produit.titre}}</td>
                        <td>{{produit.description}}</td>
                        <td>{{produit.user.pseudo}}</td>
                        <td>
                            <ul class="p-0 m-0">
                                {% for categorie in produit.categorie %}
                                    <div class="w-100 mx-auto d-flex flex-row">
                                        <div class="col-2"><i class='bi bi-caret-right-fill'></i></div>
                                        <div class="col-10">{{ categorie.titre }}</div>
                                    </div>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% for format in produit.format %}
                                <div class="py-2 text-white rounded bg-primary m-1">{{ format.format }}</div>
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('modify_produit', {'id' : produit.id}) }}" class="btn bg-primary text-white"><i class="bi bi-pencil-square"></i></a> <a class="btn bg-danger text-white" href=" {{ path('remove_produit', {'id' : produit.id}) }} ""><i class="bi bi-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}